<%= provide(:title, "Chi Tiết Kiểm Kê") %>
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <div class="table-responsive">  
                        <table class="table table-bordered table-hover">
                            <thead style="background-color: #428BCA; color: #000000;">
                              <tr>
                                <th rowspan="2" id="single-header" >#</th>
                                <th rowspan="2" id="single-header">Tên thiết bị</th>
                                <th rowspan="2" id="single-header">Mã thiết bị</th>
                                <th rowspan="2" id="single-header">Đơn vị tính</th>
                                <th rowspan="2" id="single-header">Số lượng thực tế</th>
                                <th rowspan="2" id="single-header">Ghi chú</th>
                                <th rowspan="2" id="single-header">Nơi đặt để</th>
                                <th rowspan="2" id="single-header">Thời Gian</th>
                                <th colspan="3" style="text-align: center; vertical-align: middle;">Tình trạng</th>
                                <th colspan="2" style="text-align: center; vertical-align: middle;">Hiện trạng</th>
                                <th rowspan="2" id="single-header">Hành động</th>
                              </tr>
                              <tr>
                                <td>Tốt</td>
                                <td>Bình thường</td>
                                <td>Xin thanh lí</td>
                                <td>Đủ</td>
                                <td>Mất</td>
                              </tr>
                           </thead>
                           <tbody>
                           <% i=0 %>
                           <% if @thiet_bi.present? %>
                           <% @thiet_bi.each do |device| %>
                           <tr>
                               <td><%= i+=1 %></td>
                               <td><%= get_device_by_id(device.ma_thiet_bi).ten_thiet_bi %></td>
                               <td><%= device.ma_thiet_bi %></td>
                               <td></td>
                               <td><%= device.so_luong_thuc_te %></td>
                               <td><%= device.ghi_chu %></td>
                               <td></td>
                               <td><%= device.thoi_gian %></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td></td>
                               <td class="text-center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                               </tr>
                           <% end %>
                           <%= will_paginate @thiet_bi %>
                           <% end %>
                          </tbody>
                       </table>
                   </div>
               </div>
           </div>
    <!-- /.row -->
        </div>
<!-- /.container-fluid -->
</div>

