<%= provide(:title, "Thống Kê") %>
<%= provide(:page, "Thống Kê") %>
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <div class="text-inline">
                    <h4 class="text-right">Phòng: <%= @room %></h4>
                    </div>
                    <div class="table-responsive">          
                        <table class="table table-bordered table-hover">
                            <thead id="table-header">
                              <tr>
                                <th rowspan="2" id="single-header" >#</th>
                                <th rowspan="2" id="single-header">Tên thiết bị</th>
                                <th rowspan="2" id="single-header">Mã thiết bị</th>
                                <th rowspan="2" id="single-header">Đơn vị tính</th>
                                <th rowspan="2" id="single-header">Số lượng lí thuyết</th>
                                <th rowspan="2" id="single-header">Số lượng thực tế</th>
                                <th rowspan="2" id="single-header">Chênh lệch</th>
                                <th rowspan="2" id="single-header">Nơi đặt để</th>
                                <th rowspan="2" id="single-header">Thời gian</th>
                                <th colspan="3" style="text-align: center; vertical-align: middle;">Tình trạng</th>
                                <th rowspan="2" id="single-header">Ghi chú</th>
                              </tr>
                              <tr>
                                <td>Bình thường</td>
                                <td>Hỏng</td>
                                <td>Xin thanh lí</td>
                              </tr>
                           </thead>
                           <tbody>
                           <% i=0 %>
                           <% if @thiet_bi.present? %>
                               <% @thiet_bi.each do |device| %>
                               <tr>
                                   <td><%= i+=1 %></td>
                                   <td><%= device.ma_thiet_bi %></td>
                                   <td><%= (get_device_by_id device.ma_thiet_bi).ten_thiet_bi %></td>
                                   <td><%= (get_device_by_id device.ma_thiet_bi).don_vi_tinh %></td>
                                   <td></td>
                                   <% if device.so_luong_thuc_te == -1 %>
                                   <td></td>
                                   <% else %>
                                   <td><%= device.so_luong_thuc_te %></td>
                                   <% end %>
                                   <td></td>
                                   <td><%= device.ma_pth %></td>
                                   <td><%= device.thoi_gian.strftime("%d/%m/%Y") %></td>
                                   <% if device.so_luong_thiet_bi_binh_thuong == -1 %>
                                   <td></td>
                                   <% else %>
                                   <td><%= device.so_luong_thiet_bi_binh_thuong %></td>
                                   <% end %>
                                   <% if device.so_luong_thiet_bi_hong == -1 %>
                                   <td></td>
                                   <% else %>
                                   <td><%= device.so_luong_thiet_bi_hong %></td>
                                   <% end %>
                                   <% if device.so_luong_thiet_bi_thanh_li == -1 %>
                                   <td></td>
                                   <% else %>
                                   <td><%= device.so_luong_thiet_bi_thanh_li %></td>
                                   <% end %>
                                   <td><%= device.ghi_chu %></td>
                               </tr>
                               <% end %>
                           <% else %>
                                <h4>Không tìm thấy dữ liệu</h4>
                            <% end %>
                          </tbody>
                       </table>
                   </div>
               </div>
           </div>
    <!-- /.row -->
        </div>
<!-- /.container-fluid -->
</div>
