<%= provide(:title, "Thống Kê") %>
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <div class="text-inline">
                     <h3 class="text-center">Thống Kê</h3>
                     <h4 class="text-right">Thời gian: <%= @month %> /<%= @year %></h4>
                    </div>
                    <div class="table-responsive">          
                        <table class="table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Tên thiết bị</th>
                                <th>Mã thiết bị</th>
                                <th>Số lượng lí thuyết</th>
                                <th>Số lượng thực tế</th>
                                <th>Chênh lệch</th>
                                <th>Phòng</th>
                              </tr>
                           </thead>
                           <tbody>
                           <% i=0 %>
                           <% if @thiet_bi.present? %>
                           <% @thiet_bi.each do |device| %>
                           <tr>
                               <td><%= i+=1 %></td>
                               <td><%= get_device_by_id(device.ma_thiet_bi).ten_thiet_bi %></td>
                               <td><%= device.ma_thiet_bi %></td>
                               <td><%= get_device_by_id(device.ma_thiet_bi).
                                 so_luong%></td>
                               <td><%= device.so_luong_thuc_te %></td>
                               <td></td>
                               <td></td>
                           </tr>
                           <% end %>
                           <% end %>
                          </tbody>
                       </table>
                   </div>
               </div>
           </div>
    <!-- /.row -->
        </div>
<!-- /.container-fluid -->
</div>
