<%= provide(:title, "Đề Xuất Phôi Liệu") %>
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <div class="text-inline">
                    </div>
                    <div class="table-responsive">          
                        <table class="table table-bordered table-hover">
                            <thead id="table-header">
                              <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Tên giảng viên</th>
                                <th>Môn</th>
                                <th>Ngày đề xuất</th>
                                <th>Tổng số học sinh</th>
                                <th>Lí do</th>
                                <th>Xem chi tiết</th>
                                <th>Trạng thái</th>
                                <th>Xác nhận</th>
                                <th>Gửi phản hồi</th>
                              </tr>
                           </thead>
                           <tbody>
                           <% i=0 %>
                           <% if @dexuatphoilieu.present? %>
                             <% @dexuatphoilieu.each do |s|%>
                               <tr>
                                 <td><%= i=i+1 %></td>
                                 <td><%= s.ma_dxpl %></td>
                                 <td><%= (get_staff_by_id s.ma_nql).ho_ten %></td>
                                 <td><%= s.mon %></td>
                                 <td><%= s.thoi_gian %></td>
                                 <td><%= s.tong_so_hoc_sinh %></td>
                                 <td><%= s.li_do %></td>
                                 <td class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i></td>
                                 <% if s.da_xu_li? %>
                                 <td><p style="color: blue;">Đã xử lí</p></td>
                                 <% else %>
                                 <td><p style="color: blue;">Đang chờ</p></td>
                                 <% end %>
                                 <% if s.ok!
                                    bool = true 
                                    else 
                                    bool = false
                                    end %>
                                 <td class="text-center"><%= check_box_tag 'com',s.ma_dxpl,bool, class: "confirm" %></td>
                                 <td class="text-center"><i class="fa fa-comment" aria-hidden="true"></i></td>
                               </tr>
                               <% end %>
                           <% else %>
                                <h4>Không tìm thấy dữ liệu</h4>
                            <% end %>
                          </tbody>
                       </table>
                   </div>
               </div>
           </div>
    <!-- /.row -->
        </div>
<!-- /.container-fluid -->
</div>
<script type="text/javascript">

  $(".confirm").on('change', function(){
    //alert('eedkd');
    var id = this.value;
    var bool = this.checked ? 1 : 0;
    $.ajax({
      url: '/material_confirm',
      type: 'POST',
      data: { 
              "bool": bool,
              "id": id
            }
    });
 });
</script>