<%= provide(:title, "Đề Xuất Phôi Liệu") %>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row" id="main" >
      <div class="col-sm-12 col-md-12 well" id="content">
       <div class="col-sm-12">
        <div class="form-area"> 
          <%= form_for(:material,url: materials_path,:html => {:id => "formne"}, remote: true) do |f| %>
         <div class="form-group">
          <div class="col-sm-6">
           <label>Môn</label>
           <%= f.text_field :mon, class: 'form-control', placeholder: "Môn", required: true, id:"name", style: 'border-radius: 0px;'%>
         </div>
         <div class="col-sm-6">
           <label>Tổng số học sinh</label>
           <div class="input-group spinner">
             <%= f.number_field :number, min: 1, max: 50, value: 30, class: 'form-control', id: "number" %>
           </div>
         </div>
         </div>
         <div class="form-group">
          <div class="col-sm-10">
           <label>Lí do</label> 
           <%= f.text_area :lido, class: 'form-control', style: 'border-radius: 0px;', id: "message", maxlength: "140", rows: "2" %>
         </div>
         </div>
         <% end %>
       </div>
     </div>
   </div>
</div>
</div>
</div>
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row" id="main" >
      <div class="col-sm-12 col-md-12 well" id="content">
        <div class="table-responsive">  
          <button type="button" name="submit" class="btn btn-primary pull-left" data-toggle="model" id="btnMaterialInput" data-target="#myModal">Thêm phôi liệu</button>
          <table class="table table-bordered table-hover" id="table-result">
            <thead id="table-header">
              <tr>
                <th rowspan="2" id="single-header" >#</th>
                <th rowspan="2" id="single-header">Tên Vật Tư, Phôi Liệu</th>
                <th rowspan="2" id="single-header">Qui Cách</th>
                <th rowspan="2" id="single-header">Chủng Loại</th>
                <th rowspan="2" id="single-header">Xuất Xứ</th>
                <th rowspan="2" id="single-header">Đơn Vị Tính</th>
                <th colspan="3" style="text-align: center; vertical-align: middle;">Số Lượng</th>
                <th rowspan="2" id="single-header">Hành động</th>
              </tr>
              <tr>
                <th>Tổng Số</th>
                <th>Đã Có</th>
                <th>Mua Mới</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <%= button_tag "Gửi Đề Xuất", class: "btn btn-primary btn-lg pull-right", id: "btSM", onclick:"submitData();" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
        <h4 class="modal-title" id="myModalLabel">Thêm Phôi Liệu</h4>
      </div>
      <div class="modal-body">
        <div class="row">
         <div class="col-md-12">
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-10">
                <label> Tên Vật Tư, Phôi Liệu</label>
                <input style="border-radius: 0px;" class="form-control" id="tenphoilieu" placeholder="Tên Vật Tư, Phôi Liệu" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label>Qui Cách</label>
                <input style="border-radius: 0px;" class="form-control" id="quicach" placeholder="Qui cách" />
              </div>
              <div class="col-sm-6">
               <label>Chủng Loại</label>
               <input style="border-radius: 0px;" type="text" class="form-control" id="chungloai" name="name" placeholder="Chủng loại" >
             </div>
           </div>
           <div class="form-group">
            <div class="col-sm-6">
              <label>Xuất Xứ</label>
              <input style="border-radius: 0px;" class="form-control" id="xuatxu" placeholder="Xuất xứ" />
            </div>
            <div class="col-sm-6">
             <label>Đơn Vị Tính</label>
             <input style="border-radius: 0px;" type="text" class="form-control" id="donvitinh" name="name" placeholder="Đơn vị tính" >
           </div>
         </div>
         <div class="form-group">
          <div class="col-sm-2">
            <label>Tổng Số</label>
            <input style="border-radius: 0px;" class="form-control" id="tongso" placeholder="Tổng số" />
          </div>
          <div class="col-sm-2">
           <label>Đã Có</label>
           <input style="border-radius: 0px;" type="text" class="form-control" id="daco" name="name" placeholder="Đã có" >
         </div>
         <div class="col-sm-2">
           <label>Mua Mới</label>
           <input style="border-radius: 0px;" type="text" class="form-control" id="muamoi" name="name" placeholder="Mua mới" >
         </div>
       </div>
     </form>
     <div class="row">
      <div class="col-sm-10 col-md-offset-11">
        <button class="btn btn-primary btn-md" onclick="updateForm();">
          OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src=""></script>
<script type="text/javascript">

 $('#btnMaterialInput').on('click', function(){
  $('#myModal').modal('show');
});

 function updateForm(){

  var rows = "";
      // var table = document.getElementById("table-result");
      var tenphoilieu = document.getElementById("tenphoilieu").value;
      var quicach = document.getElementById("quicach").value;
      var chungloai = document.getElementById("chungloai").value;
      var xuatxu = document.getElementById("xuatxu").value;
      var donvitinh = document.getElementById("donvitinh").value;
      var tongso = document.getElementById("tongso").value;
      var daco = document.getElementById("daco").value;
      var muamoi = document.getElementById("muamoi").value;

      rows += "<tr><td></td><td>" + tenphoilieu + "</td><td>" + quicach + "</td><td>" 
      + chungloai + "</td><td>" + xuatxu + "</td><td>" + donvitinh + "</td><td>"
      + tongso + "</td><td>" + daco + "</td><td>" + muamoi + "</td><td class='text-center'><i class='fa fa-trash' aria-hidden='true'></i></td></tr>";

      $(rows).appendTo("#table-result tbody");
      // hide model
      $('#myModal').modal('hide');
      // table.appendChild(rows);
    }

function myfuncdata(){
var array = [];
var headers = ['#', 'ten_vat_tu_phoi_lieu', 'qui_cach', 'chung_loai', 'xuat_xu', 'don_vi_tinh', 'tong_so', 'da_co', 'mua_moi', 'hanh_dong'];

$('#table-result tr').has('td').each(function() {
    var arrayItem = {};
    $('td', $(this)).each(function(index, item) {
        arrayItem[headers[index]] = $(item).html();
    });
    array.push(arrayItem);
  });

tabledata = JSON.parse(JSON.stringify(array));
$.ajax({
      url: "/materials",
      type: "POST",
      dataType: 'json',
      //contentType: 'application/json; charset=utf-8',
      data: 
         {
          'duLieuDeXuat': tabledata,
          'mon': $('#name').val(),
          'li_do': $('#message').val(),
          'tong_so_hoc_sinh': $('#number').val()
         }
     }).done(function(data){
      alert('Gửi thông tin đề xuất thành công');
      window.location.href="/user/materials/";
  });
}

function submitForm(){
 $('#formne').submit();
}

function submitData(){
 myfuncdata();
  //submitForm();
}

</script>



