<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
        <!-- Navigation -->
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">   
                <!--<img src="/assets/log.jpg" alt="LOGO""> -->
                <%= link_to image_tag("logo.jpg",:class => "img-circle", :alt => "Cinque Terre", :width => "160", :height => "50"), root_path %> 
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a href="#" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
                </a>
            </li>   
            <% if logged_in? %>  
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.ho_ten %><b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><%= link_to logout_path,method: "delete" do %>
                      <i class="fa fa-fw fa-power-off"></i>  Đăng xuất
                    <% end %></li>
                </ul>
            </li>
            <% end %>
        </ul>
        <div class="nav navbar-right top-nav" id="search-bar" >
            <form class="navbar-form" role="search">
            <div class="input-group">
            <%= form_tag inventories_path , :method => :get, :id => 'inventory_search', :class => "navbar-form",:role => "search" do %>
                <%= text_field_tag :search, params[:search], placeholder: 'Tìm Kiếm...', :autocomplete => :off, :class => 'form-control', :id => 'search-bar-custom' %>
                <div class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>
                </div>
            <% end %>
            </div>
           </form>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
             <ul class="nav navbar-nav side-nav">
                <% if is_admin? %>
                <li>
                    <%= link_to new_inventory_season_path do %>
                    <i class="fa fa-fw fa-user-plus"></i>  TẠO ĐỢT KIỂM KÊ
                    <% end %>
                </li>
                <li>
                    <%= link_to inventories_path do %>
                    <i class="fa fa-fw fa-user-plus"></i> KIỂM KÊ
                    <% end %>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"><i class="fa fa-fw fa-star"></i> THỐNG KÊ <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1" >
                        <li data-toggle="collapse" data-target="#submenu1_1" aria-expanded="false"><a href="#"><i class="fa fa-angle-right"></i> Theo Năm</a>
                           <ul class="nav collapse"  id="submenu1_1" role="menu" aria-labelledby="btn-1" >
                           <% get_list_day.each do |d| %>
                            <li><%= link_to d, statistics_time_path(:time => d) %></li>
                            <% end %>
                           </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#submenu1_2" aria-expanded="false"><a href="#"><i class="fa fa-angle-right"></i> Thống Kê Theo Phòng</a>
                            <ul class="nav collapse"  id="submenu1_2" role="menu" aria-labelledby="btn-1" >
                            <% get_list_room.each do |r| %>
                            <li><%= link_to r.phong_thuc_hanh, statistics_room_path(:room => r.ma_pth)%></li>
                            <% end %>
                           </ul>
                        </li>
                        <li data-toggle="collapse" data-target="#submenu1_3" aria-expanded="false"><a href="#"><i class="fa fa-angle-right"></i> Thông Kê Theo Đợt</a>
                            <ul class="nav collapse"  id="submenu1_3" role="menu" aria-labelledby="btn-1" >
                            <% get_list_iv_season.each do |s| %>
                            <li><%= link_to s.ten, statistics_room_path(:season => s.id_dot)%></li>
                            <% end %>
                           </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Thống Kê Theo Danh Mục Thiết Bị</a></li>
                    </ul>
                </li>
                <li>
                    <%= link_to qrcodes_path do %>
                    <i class="fa fa-fw fa-user-plus"></i>  TẠO MÃ QR
                    <% end %>
                </li>
                <li>
                    <%= link_to admin_materials_path do %>
                    <i class="fa fa-fw fa-user-plus"></i>  QUẢN LÍ PHÔI LIỆU
                    <% end %>
                </li>
                <% else %>
                 <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu2" aria-expanded="false"><i class="fa fa-fw fa-paper-plane-o"></i> QUẢN LÍ PHÔI LIỆU<i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1" >
                        <li data-toggle="collapse" data-target="#submenu1_1" aria-expanded="false">
                           <%= link_to new_material_path do %>
                             <i class="fa fa-address-book-o"></i> Đề Xuất
                           <% end %>
                         </li>
                        <li data-toggle="collapse" data-target="#submenu1_1" aria-expanded="false">
                           <%= link_to user_materials_path do %>
                             <i class="fa fa-address-book-o"></i> Kết Quả Đề Xuất
                           <% end %>
                        </li>
                    </ul>
                </li>
                <% end %>
              </ul>      
        </div>
    </nav>
    <div class="title">
       <a class="table-title"><%= yield(:page)%></a>
    </div>
    <!-- /.navbar-collapse -->

 