<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Device Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= params[:controller]%>">
     <% if logged_in? %>
     <%= render 'layouts/main' %>
     <% end %>
     <%= yield %>
  </body>
</html>
